.navbar-green-2 {
    background-color: #0b2e13;
}

.left-float {
    float: left;
}

.border-show-black {
    border-style: solid;
    border-color: black;
}

.img-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.navbar-green-theme {
    background-color: #3DA98F;
}

.navbar-logo {
    height: 40px;
}

.float-bottom {
    float: bottom;
}

.img-dropdown-wight {
    width: 65px;
    height: 65px;
    border-radius: 60%;

}

.img-square-w2 {
    width: 2em;
    height: 2em;
    border-radius: 0.4em;
}

.img-square-w3 {
    width: 3em;
    height: 3em;
    border-radius: 0.4em;
}

.img-square-lg-3 {
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.4em;
}

.img-w2 {
    width: 2em;
    height: 2em;
    border-radius: 60%;
}

.img-w3 {
    width: 3em;
    height: 3em;
    border-radius: 60%;
}

.img-w4 {
    width: 4em;
    height: 4em;
    border-radius: 60%;

}

.img-w5 {
    width: 5em;
    height: 5em;
    border-radius: 60%;

}

.font-block {
    color: grey;
}

.dropdown-logo {
    width: 60px;
}

#withdraw:visited {
    color: #0e2231;
}

.position-center {
    position: center;
}

.position-center-v {
    position: relative;
    align-items: center;
}

.cl-yellow {
    color: #FBF384;
}

.cl-red {
    color: #E12F29;
}

.cl-green {
    color: green;
}

.cl-lightorange {
    color: #D5A545;
}

.cl-theme {
    color: #3DA98F;
}

.cl-orange {
    color: #AE792A;
}

.cl-black {
    color: black;
}

#nameprofile:hover {
    text-decoration: none;
}

.bg-grey {
    background-color: grey;
}

.card-border {
    background-color: white;
    border-radius: 0.55em;
}

.card-header-theme {
    background-color: #F6B121;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding-bottom: 1em;
}

.card-border-outline {
    border-style: solid;
    border-color: grey;
    background-color: white;
    border-radius: 0.55em;
}

.card-nobg {
    background-color: #E8E8E8;
    border-radius: 0.55em;
}

.postbox {
    resize: none;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #F7F7F7;
    border-style: none;
}

.postbox:focus {
    outline: none;
}

.button-border-outline {
    background-color: White;
    border-radius: 0.5em;
    border-color: #DEDEDE;
    border-width: 0.5px;
    border-style: solid;
    padding: 5px 20px;
    box-shadow: 0 4px #AE792A;
}

.button-border-outline:hover {
    background-color: #DEDEDE;
}

.button-border-outline:focus {
    outline: none;
}

.button-border-outline:active {
    background-color: #DEDEDE;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

    i {
        color: #666;
    }
}

.button-grey {
    background-color: #D8D8D8;
    border-radius: 0.5em;
    border-color: #DEDEDE;
    border-style: none;
    padding: 5px 20px;
    box-shadow: 0 4px #AE792A;
}

.button-darkgray{
    background-color: #83867E;
    border-radius: 0.75em;
    border-color: black;
    border-style: none;
    padding: 0px 10px;
}
.button-darkgray:hover{
    background-color: #B0B2AD;
    label{
        color: black;
    }
}
.button-darkgray:focus{
    outline: none;
}
.button-darkgray:active{
    background-color: #B0B2AD;
    transform: translateY(2px);
    outline: none;

    label{
        color: blue;
    }
}

.button-grey:hover {
    background-color: #DEDEDE;
}

.button-grey:focus {
    outline: none;
}

.button-grey:active {
    background-color: #DEDEDE;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-theme {
    background-color: #3DA98F;
    color: #F9F9F9;
    border-radius: 0.5em;
    border-style: none;
    padding: 5px 20px;
    box-shadow: 0 4px #3DA98F;
}

.button-theme:focus {
    outline: none;
}

.button-theme:hover {
    background-color: #1F9276;
    box-shadow: 0 4px #1F9276;
}

.button-theme:active {
    background-color: #3DA98F;
    box-shadow: 0 4px #3DA98F;
    transform: translateY(4px);
}

.btn-border-outline {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    overflow: hidden;
    color: grey;
    outline: none;
    border-radius: 0.5em;
    border-style: none;
    padding: 5px 20px;
    box-shadow: 0 4px #3DA98F;
}

.btn-border-outline:hover {
    background-color: #DEDEDE;
    color: grey;
}

.btn-border-outline:focus {
    outline: none;
}

.btn-border-outline:active {
    background-color: white;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.img-post {
    width: 100%;

}

.cursor-hand {
    cursor: pointer;
}

.unlink:hover {
    text-decoration: none;
}

.unlink:active {
    background-color: grey;
}

.unlink:focus {
    background-color: grey;
}

.select-nav {
    opacity: 1;
}

.select-nav:hover {
    background-color: #50CAAC;
    border-radius: 0.5em;
}

.label-premium {
    color: white;
    font-size: 15px;
    background-color: #0C5B97;
    border-style: none;
    border-radius: 0.5em;
}

.label-premium:focus {
    outline: none;
}

.label-green {
    color: black;
    font-size: 15px;
    background-color: #0E9A00;
    border-style: none;
    border-radius: 0.5em;
}

.label-green:focus {
    outline: none;
}

.label-active {
    font-size: 15px;
    background-color: #55CE1B;
    border-style: none;
    border-radius: 0.5em;
}

.label-active:focus {
    outline: none;
}

.label-off {
    color: black;
    font-size: 15px;
    background-color: #C1C1C1;
    border-style: none;
    border-radius: 0.5em;
}

.label-off:focus {
    outline: none;
}

.label-ago {
    color: black;
    font-size: 15px;
    background-color: #FEDD55;
    border-style: none;
    border-radius: 0.5em;
}

.label-ago:focus {
    outline: none;
}

.round-box-grey {
    border-radius: 0.58em;
    background-color: #BCBCBC;
}

.round-box-lightblue {
    border-radius: 0.58em;
    background-color: #DAECF2;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547;
}

.scrollbar-danger {
    scrollbar-color: #ff3547 #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800;
}

.scrollbar-warning {
    scrollbar-color: #FF8800 #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
}

.scrollbar-success {
    scrollbar-color: #00C851 #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5;
}

.scrollbar-info {
    scrollbar-color: #33b5e5 #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD;
}

.scrollbar-default {
    scrollbar-color: #2BBBAD #F5F5F5;
}

.scrollbar-theme::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-theme::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    opacity: 0.5;
}

.scrollbar-theme::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #BCC7C8;
}

.scrollbar-theme {
    scrollbar-color: #AE792A #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc;
}

.scrollbar-secondary {
    scrollbar-color: #aa66cc #F5F5F5;
}

.text-name-list {
    font-size: 16px;
    position: absolute;
    bottom: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12.5em;
}

.layout-img{
    position: fixed;
    top:3.5em;
    left: 5em;
    outline: none;
    border: none;
}
.layout-img:focus{
    outline: none;
}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}

.cl-danger{
    color: #F2310F;
}
.alert-yellow{
    background-color: #F7E490;
}

.cl-white{
    color:white;
}

.border-width-thin{
    border-width: thin;
    border-style: solid;
}

.cl-cost{
    color: #2471A3;
}
.cl-profit{
    color: #D4AC0D;
}
.cl-balance{
    color:#28B463
;
}
